In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [7]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
459,tt1126618,40000000,58785180,Morning Glory,Rachel McAdams|Harrison Ford|Patrick Wilson|Je...,Roger Michell,Breakfast TV just got interesting.,When hard-working TV producer Becky Fuller is ...,102,Comedy|Drama|Romance,Bad Robot|Goldcrest Pictures,1/12/2010,6.1,2010
708,tt0486674,25000000,6673422,What Just Happened,Bruce Willis|Robert De Niro|Sean Penn|Robin Wr...,Barry Levinson,Admit nothing.,During the course of an ordinary week in Holly...,104,Comedy|Drama,2929 Productions|Linson Entertainment|Art Lins...,10/17/2008,5.1,2008
1273,tt2053463,30000000,63372757,Side Effects,Rooney Mara|Jude Law|Channing Tatum|Catherine ...,Steven Soderbergh,One pill can change your life.,A woman turns to prescription medication as a ...,106,Thriller|Crime|Drama,Di Bonaventura Pictures|Endgame Entertainment|...,2/7/2013,6.3,2013
986,tt0790724,60000000,218340595,Jack Reacher,Tom Cruise|Rosamund Pike|Richard Jenkins|David...,Christopher McQuarrie,The Law Has Limits. He Does Not.,"In an innocent heartland city, five are shot d...",130,Crime|Drama|Thriller,Paramount Pictures|Mutual Film Company|Skydanc...,12/20/2012,6.2,2012
463,tt0427152,69000000,86387857,Dinner for Schmucks,Steve Carell|Paul Rudd|Stephanie Szostak|Jemai...,Jay Roach,Takes One To Know One.,Rising executive Tim Wagner works for a boss w...,114,Comedy,Paramount Pictures|DreamWorks SKG|Spyglass Ent...,7/30/2010,5.4,2010

In [8]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [370]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [371]:
# в словарь вставляем номер вопроса и ваш ответ на него
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [10]:
data[data['budget'] == data['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [372]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [11]:
data[data['runtime'] == data['runtime'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [373]:
answers['3'] = 'Winnie the Pooh'

In [12]:
data[data['runtime'] == data['runtime'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [374]:
answers['4'] = '110'

In [13]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [375]:
answers['5'] = '107'

In [14]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [376]:
answers['6'] = 'Avatar'

In [22]:
data['profit'] = data['revenue'] - data['budget'] #добавляем колонку(profit - прибыльность)(profit = revenue - budget)
data[data['profit'] == data['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [377]:
answers['7'] = 'The Lone Ranger'

In [23]:
data[data['profit'] == data['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [378]:
answers['8'] = '1478'

In [38]:
data[data['revenue'] > data['budget']].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [379]:
answers['9'] = 'The Dark Knight'

In [53]:
data_small = data[data['release_year'] == 2008] #создадим датафрейм с фильмами 2008
data_small[data_small['profit'] == data_small['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. 0(включительно)?

In [380]:
answers['10'] = 'The Lone Ranger'

In [66]:
data_small_year = data[(data['release_year'] <= 2014)&(data['release_year'] >= 2012)] #создадим датафрейм с фильмами 2012 - 2014
data_small_year[data_small_year['profit'] == data_small_year['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [381]:
answers['11'] = 'Drama'

In [71]:
Counter(data.genres.str.split('|').sum()).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [382]:
answers['12'] = 'Drama'

In [75]:
data_profit = data[data['budget'] < data['revenue']] #создадим датафрейм прибыльных картин
Counter(data_profit.genres.str.split('|').sum()).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [383]:
answers['13'] = 'Peter Jackson'

In [259]:
data.groupby('director')['revenue'].agg(['sum']).sort_values('sum', ascending=False).head(1)

                      sum
director
Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [384]:
answers['14'] = 'Robert Rodriguez'

In [94]:
data_genres_action = data[data.genres.str.contains('Action',na=False)] #создаем датафрейм фильмов в стиле Action
Counter(data_genres_action.director.str.split('|').sum()).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [385]:
answers['15'] = 'Chris Hemsworth'

In [227]:
data_2012 = data[data.release_year == 2012].copy()
data_2012.cast = data_2012.cast.apply(lambda x: x.split("|"))#убираем знаки разделения в колонке актеры
data_2012 = data_2012.explode('cast')#разделяем актеров партнеров на отдельные строки
display(data_2012.groupby('cast')['revenue'].sum().sort_values(ascending=False).head(1))

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [386]:
answers['16'] = 'Matt Damon'

In [138]:
data_blockbuster = data[data.budget > data.budget.mean()] #создаем датафрейм блокбастеров
Counter(data_blockbuster.cast.str.split('|').sum()).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [387]:
answers['17'] = 'Action'

In [141]:
data_Cage = data[data.cast.str.contains("Nicolas Cage")] #создаем датафрейм фильмов с Nicolas Cage
Counter(data_Cage.genres.str.split('|').sum()).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [388]:
answers['18'] = 'K-19: The Widowmaker'

In [158]:
data_Paramount = data[data.production_companies.str.contains("Paramount")] #создаем датафрейм фильмов Paramount
data_Paramount.groupby('original_title')['profit'].sum().sort_values().head(1)

original_title
K-19: The Widowmaker   -64831034
Name: profit, dtype: int64

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [389]:
answers['19'] = '2015'

In [159]:
data.groupby('release_year')['profit'].sum().sort_values(ascending=False).head(1)

release_year
2015    18668572378
Name: profit, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [390]:
answers['20'] = '2014'

In [167]:
data_warner = data[data.production_companies.str.contains("Warner")] #создаем датафрейм фильмов Warner Bros
data_warner.groupby('release_year')['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [391]:
answers['21'] = '9'

In [199]:
data['release_date']= pd.to_datetime(data['release_date']) #преобразуем колонку в тип даты
Counter(data.release_date.dt.month)

Counter({6: 147,
         5: 140,
         3: 156,
         12: 190,
         4: 149,
         9: 227,
         10: 186,
         2: 135,
         1: 110,
         7: 142,
         11: 146,
         8: 161})

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [392]:
answers['22'] = '450'

In [310]:
data = pd.read_csv('movie_bd_v5.xls')
data['release_date'] = pd.to_datetime(data['release_date']) #преобразуем колонку в тип даты
summer_movie = data[data.release_date.dt.month.isin([6, 7, 8])] #создадим датафрейм с фильмами (июнь,июль,авгутст)
summer_movie.original_title.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [393]:
answers['23'] = 'Peter Jackson'

In [307]:
data = pd.read_csv('movie_bd_v5.xls')
d = data 
d.director = data.director.str.split('|') #убираем знаки разделения в колонке director
d = d.explode('director')
d['release_date'] = pd.to_datetime(d['release_date']) #преобразуем колонку в тип даты
winter_movie = d[d.release_date.dt.month.isin([1, 2, 12])] #создадим датафрейм с фильмами (зимние месяцы)
winter_movie.groupby(['director'])['original_title'].count().sort_values(ascending=False).head(1)

director
Peter Jackson    7
Name: original_title, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [394]:
answers['24'] = 'Four By Two Productions'

In [349]:
data = pd.read_csv('movie_bd_v5.xls')
data_companies = data
data_companies.production_companies = data_companies.production_companies.str.split('|')#убираем знаки разделения в колонке
data_companies = data_companies.explode('production_companies')#разделяем компании партнеров на отдельные строки
data_companies['len'] = data_companies.original_title.apply(lambda x:len(x))#создаем колонку с кол-ом символом в названии
data_companies.groupby('production_companies')['len'].mean().sort_values(ascending=False).head(1)

production_companies
Four By Two Productions    83.0
Name: len, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [395]:
answers['25'] = 'Midnight Picture Show'

In [350]:
data = pd.read_csv('movie_bd_v5.xls')
data_companies = data
data_companies.production_companies = data_companies.production_companies.str.split('|')#убираем знаки разделения в колонке
data_companies = data_companies.explode('production_companies')#разделяем компании партнеров на отдельные строки
data_companies['len'] = data_companies.overview.apply(lambda x:len(x))#создаем колонку с кол-ом символом в названии
data_companies.groupby('production_companies')['len'].mean().sort_values(ascending=False).head(1)

production_companies
Midnight Picture Show    1000.0
Name: len, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

count    1889.000000
mean        6.140762
std         0.764763
min         3.300000
25%         5.600000
50%         6.100000
75%         6.600000
max         8.100000
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [396]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show'}

In [397]:
# и убедиться что ни чего не пропустил)
len(answers)

25